/* =================================
------------------------------------
  Mondy - Real Estate HTML Template
  Version: 1.0
 ------------------------------------
 ====================================*/

/*----------------------------------------*/

/* Template default CSS
/*----------------------------------------*/

html,
body {
	height: 100%;
	font-family: "Lato", sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #322429;
	font-weight: 700;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 15px;
	color: #6a6a6a;
	line-height: 2;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

/*---------------------
Helper CSS
 -----------------------*/

.section-title {
	text-align: center;
	margin-bottom: 65px;
}

.section-title h2 {
	font-size: 72px;
}

.section-title p {
	padding: 25px 30px 10px;
	margin-bottom: 0;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.spad {
	padding-top: 110px;
	padding-bottom: 110px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}

/*---------------------
Commom elements
 -----------------------*/

/* buttons */

.site-btn {
	display: inline-block;
	border: none;
	padding: 10px 75px;
	min-width: 70px;
	font-size: 16px;
	background: #ffc107;
	color: #fff;
	line-height: normal;
	cursor: pointer;
	text-transform: uppercase;
	text-align: center;
}

.site-btn:hover {
	background-color: #BDECFF;
	color: #fff;
}

.site-btn.sb-light {
	background: #fff;
	color: #241e1e;
}

.site-btn.sb-big {
	font-weight: 700;
	font-family: "Lato", sans-serif;
	padding: 21px 48px;
}

/* Preloder */

#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #000;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

/*------------------
Header section
 ---------------------*/

 .header-section {
	position: absolute;
	width: 90%;
	left: 5%;
	top: 0;
	padding: 0 53px;
	/* background: #BDECFF; */
	z-index: 999;
}

.header-section.header-bg-2 {
	background:#ffc107;
}

.header-nav {
	text-align: right;
	padding: 16px;
}

.site-logo {
	float: left;
	display: inline-block;
	padding: 10px;
}

.main-menu {
	display: inline-block;
	padding-right: 30px;
}

.main-menu li {
	display: inline-block;
	position: relative;
}

.main-menu li a {
	display: block;
	font-size: 16px;
	color: #ffffff;
	font-family: "Lato", sans-serif;
	font-weight: bolder;
	padding: 0 1px 5px;
	border-bottom: 2px solid transparent;
	margin-right: 15px;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.main-menu li a:hover,
.main-menu li a.active {
	border-bottom: 2px solid #fff;
}

.main-menu li:hover>.sub-menu {
	visibility: visible;
	opacity: 1;
	margin-top: 20px;
}

.main-menu .sub-menu {
	position: absolute;
	list-style: none;
	width: 220px;
	left: 0;
	top: 100%;
	text-align: left;
	padding: 20px 0;
	visibility: hidden;
	opacity: 0;
	margin-top: 50px;
	background: #fff;
	/* z-index: 99; */
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
	-webkit-box-shadow: 2px 7px 20px rgba(0, 0, 0, 0.15);
	box-shadow: 2px 7px 20px rgba(0, 0, 0, 0.15);
}

.main-menu .sub-menu::before {
	position: absolute;
	content: "";
	left: 15px;
	top: -7px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 7px solid #fff;
}

.main-menu .sub-menu:after {
	position: absolute;
	content: "";
	width: 100%;
	height: 20px;
	left: 0;
	top: -20px;
}

.main-menu .sub-menu li {
	display: block;
}

.main-menu .sub-menu li a {
	display: block;
	color: #000;
	margin-right: 0;
	padding: 5px 20px;
	border-bottom: none;
}

.main-menu .sub-menu li a:hover {
	color: #ff000a;
}

.header-right {
	display: inline-block;
}

.header-right a {
	color: #fff;
	font-size: 16px;
	font-family: "Lato", sans-serif;
	display: inline-block;
}

.header-right .register {
	border: 2px solid #fff;
	min-width: 130px;
	text-align: center;
	padding: 8px 15px;
	margin-left: 25px;
}

.slicknav_menu {
	display: none;
}


/* ----------------
Hero section
 -------------------*/

.hero-section {
	height: 824px;
	padding-top: 325px;
}

.hero-warp {
	padding: 27px 48px 31px;
	/* background: #bdecff; */
}

.main-search-form {
	font-family: "Lato", sans-serif;
	color: #BDECFF;
}

.main-search-form p {
	font-size: 12px;
	color: #b6b6b6;
	font-style: italic;
	margin-bottom: 0;
}

.search-type .st-item {
	display: inline-block;
}

.search-type .st-item input {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	z-index: -1;
}

.search-type .st-item input:checked+label {
	padding: 11px auto;
	background: #BDECFF;
}

.search-type .st-item input:checked+label:after {
	bottom: -15px;
	opacity: 1;
	-webkit-transition: all 0.2s ease 0.3s;
	transition: all 0.2s ease 0.3s;
}

.search-type label {
	position: relative;
	font-family: "Lato", sans-serif;
	font-weight: 700;
	color: #fff;
	padding: 11px 10px;
	margin-right: 15px;
	margin-bottom: 15px;
	cursor: pointer;
	text-align: center;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}

.search-type label:after {
	position: absolute;
	content: "";
	bottom: -25px;
	left: calc(50% - 4px);
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 7px solid #fff;
	opacity: 0;
}

.search-input {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	border: 2px solid #BDECFF;
}

.search-input input {
	width: calc(100% - 156px);
	height: 45px;
	padding-left: 47px;
	color: #3a3a3a;
	font-style: italic;
	border: none;
}

.search-input.si-v-2 input {
	width: calc(100% - 384px);
}

.search-input.si-v-2 .sb-light {
	margin-left: 25px;
	min-width: 203px;
}

/* ----------------
Intro section
 -------------------*/

.intro-first {
	margin-bottom: 98px;
}

.about-text h3 {
	margin-bottom: 30px;
}

.about-text h2 {
	font-size: 72px;
	line-height: 1;
	margin-bottom: 35px;
}

.about-text p {
	margin-bottom: 25px;
}

.readmore-btn {
	display: inline-block;
	font-size: 18px;
	font-weight: 700;
	color: #ff000a;
	border-bottom: 1px solid #ff000a;
	line-height: 1;
}

.readmore-btn:hover {
	color: #ff000a;
}

/* ----------------
Hero section
 -------------------*/

.property-section {
	padding-bottom: 52px;
}

.property-section .section-title {
	margin-bottom: 90px;
}

.property-item {
	margin-bottom: 10px;
	margin-top:5px;
}

.property-item img {
	min-width: 100%;
}

.property-item .pi-image {
	position: relative;
	
}

.property-item .pi-badge {
	position: absolute;
	left: 0;
	top: 0;
	min-width: 80px;
	padding: 13px 10px 0;
	height: 50px;
	text-align: center;
	font-size: 16px;
	font-weight: 500;
	color: #fff;

	
	
}

.property-item .pi-badge.new {
	background:rgb(255, 193, 7, 0.8);
	

	
}

.property-item .pi-badge.offer {
	background: #BDECFF;
}

.property-item h3 {
	margin-bottom: 10px;
}

.property-item h5 {
	margin-bottom: 25px;
}

.property-item p {
	margin-bottom: 20px;
}

/* ----------------
Loan section
 -------------------*/

.loan-section {
	padding: 0 54px;
}

.loan-warp {
	background: #22242b;
	padding: 95px 0 110px;
}

.loan-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	max-width: 878px;
	margin: 0 auto;
}

.loan-form input {
	width: 100%;
	height: 61px;
	padding: 10px 25px;
	color: #3a3a3a;
	font-size: 16px;
	font-style: italic;
	border: none;
	margin-right: 30px;
}

/* ----------------
Footer section
 -------------------*/

.footer-section {
	padding: 6px;
	scroll-margin-bottom: 3px;
	/* background: #BDECFF; */
}

.footer-widger {
	margin-bottom: 60px;
}

.footer-widger h2 {
	font-size: 18px;
	font-weight: 500;
	padding-top: 65px;
	margin-bottom: 33px;
}

.footer-widger ul {
	list-style: none;
}

.footer-widger ul li a {
	font-size: 16px;
	display: inline-block;
	margin-bottom: 13px;
	opacity: 0.7;
}

.about-widget {
	margin-right: 41px;
	border-right: 2px solid #45484e;
}

.about-widget img {
	margin-bottom: 40px;
}

.about-widget .aw-text {
	max-width: 260px;
}

.about-widget .aw-text p {
	padding-right: 15px;
	margin-bottom: 35px;
}

.copyright {
	text-align: right;
	font-size: 12px;
	text-transform: uppercase;
	color: #676767;
	font-family: "Lato", sans-serif;
	padding: 5px 0 35px;
}

/* ----------------
Other Pages
 -------------------*/

.page-top-section {
	height: 410px;
	padding: 152px 15px 0;
}

.page-top-warp {
	max-width: 1280px;
	margin: 0 auto;
}

/* ----------------
About page
 -------------------*/

.sell-section {
	padding: 0 54px;
}

.sell-section .section-title {
	margin-bottom: 100px;
}

.sell-item {
	text-align: center;
	margin-bottom: 40px;
}

.sell-item .si-icon {
	width: 71px;
	height: 71px;
	margin-bottom: 33px;
	border-radius: 50%;
	background: #ff000a;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.sell-item .si-icon span {
	font-size: 24px;
	font-weight: 700;
}

.sell-item h3 {
	font-family: "Lato", sans-serif;
	font-weight: 900;
	margin-bottom: 20px;
}

.sell-item p {
	opacity: 0.7;
}

.agents-section {
	padding-bottom: 80px;
}

.agents-section .section-title {
	margin-bottom: 70px;
}

.agent-item {
	text-align: center;
	margin-bottom: 30px;
}

.agent-item .ai-text {
	padding: 0 5px;
}

.agent-item img {
	min-width: 100%;
	margin-bottom: 35px;
}

.agent-item h4 {
	margin-bottom: 20px;
}

.agent-item p {
	margin-bottom: 25px;
}

/* ----------------
Blog page
 -------------------*/

.blog-item {
	margin-bottom: 58px;
}

.blog-item img {
	min-width: 100%;
}

.blog-item .blog-date {
	font-size: 16px;
	font-weight: 700;
	color: #6a6a6a;
	margin-bottom: 5px;
}

.blog-item h4 {
	margin-bottom: 20px;
}

.blog-item .blog-text {
	padding: 24px 22px 30px;
	background: #f5f8fa;
}

.blog-item.feature-blog {
	background: #f5f8fa;
}

.blog-item.feature-blog .blog-text {
	padding-top: 60px;
}

.blog-item.feature-blog h4 {
	margin-bottom: 30px;
}

.site-pagination {
	padding-top: 20px;
}

.site-pagination a {
	display: inline-block;
	color: #6a6a6a;
	font-size: 15px;
	text-align: center;
	padding: 4px 0;
	margin-right: 3px;
}

.site-pagination a.active {
	color: #fff;
	background: #ff000a;
	padding: 4px 5px;
}

/* -------------------
 Search Result Page
 ----------------------*/

.search-result-map {
	height: 100%;
	background: #ddd;
	position: relative;
}

.search-result-map iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.search-results {
	padding: 55px 64px 90px;
}

.search-results .property-item h5 {
	margin-bottom: 8px;
}

.search-results .filter-btn {
	list-style: none;
	margin-bottom: 70px;
}

.search-results .filter-btn li {
	display: inline-block;
	margin-right: 38px;
	font-family: "Lato", sans-serif;
	padding: 15px;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	color: #322429;
	cursor: pointer;
}

.search-results .filter-btn li.active {
	color: #ff000a;
}

.search-results .load-more {
	min-width: 205px;
}

.property-item .pi-metas {
	margin-bottom: 20px;
}

.property-item .pi-meta {
	display: inline-block;
	position: relative;
	font-size: 15px;
	color: #6a6a6a;
	padding-right: 15px;
	margin-right: 14px;
	margin-bottom: 10px;
}

.property-item .pi-meta:last-child {
	margin-right: 0;
	padding-right: 0;
}

.property-item .pi-meta:last-child:after {
	display: none;
}

.property-item .pi-meta:after {
	position: absolute;
	content: "|";
	right: 0;
	top: 0;
	font-size: 15px;
	color: #6a6a6a;
}

/* ---------------------
Single Property Page
 ------------------------*/

.single-property .sp-image {
	position: relative;
	margin-bottom: 50px;
}

.single-property .sp-badge {
	position: absolute;
	left: 0;
	top: 0;
	min-width: 87px;
	padding: 13px 10px 0;
	height: 50px;
	text-align: center;
	font-size: 18px;
	font-weight: 700;
	color: #fff;
}

.single-property .sp-badge.new {
	background: #ff000a;
}

.single-property .sp-badge.offer {
	background: #ffba00;
}

.single-property .pi-metas {
	padding-top: 20px;
}

.single-property .pi-meta {
	display: inline-block;
	position: relative;
	font-size: 15px;
	color: #584d51;
	padding-right: 15px;
	margin-right: 14px;
	margin-bottom: 10px;
	font-weight: 700;
}

.single-property .pi-meta:last-child {
	margin-right: 0;
	padding-right: 0;
}

.single-property .pi-meta:last-child:after {
	display: none;
}

.single-property .pi-meta:after {
	position: absolute;
	content: "|";
	right: 0;
	top: 0;
	font-size: 15px;
	color: #584d51;
	font-weight: 700;
}

.property-header {
	margin-bottom: 45px;
	margin-bottom: 35px;
}

.property-header h3 {
	margin-bottom: 10px;
}

.property-header h5 {
	font-weight: 500;
	color: #6a6a6a;
}

.property-header p {
	line-height: 1;
	margin-bottom: 0;
}

.property-info-bar {
	padding: 11px 29px 13px;
	margin-bottom: 40px;
	border-top: 2px solid #dfe5e8;
	background: #f5f8fa;
}

.offer-btn {
	display: inline-block;
	text-align: center;
	min-width: 260px;
	padding: 15px 44px;
	font-size: 18px;
	font-weight: 700;
	text-transform: none;
	color: #322429;
	border: 2px solid #475069;
	background: #fff;
}

.offer-btn:hover {
	color: #322429;
}

.property-text h4 {
	margin-bottom: 25px;
}

.property-text p {
	margin-bottom: 35px;
}

.property-feature .pf-box {
	margin-bottom: 30px;
}

.property-feature .pf-box h6 {
	margin-bottom: 5px;
}

.property-feature .pf-box p {
	font-size: 16px;
	margin-bottom: 0;
}

.video-item {
	position: relative;
	margin-top: 10px;
	margin-bottom: 61px;
}

.video-item .video-play {
	position: absolute;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 110px;
	height: 56px;
	left: calc(50% - 55px);
	top: calc(50% - 28px);
	border-radius: 24px;
	font-size: 17px;
	color: #ff000a;
	background: #fff;
}

.loan-calculator {
	padding: 53px 37px 44px;
	background: #f5f8fa;
}

.loan-calculator h4 {
	margin-bottom: 35px;
}

.loan-calculator input {
	width: 100%;
	height: 56px;
	padding: 0 23px;
	color: #3a3a3a;
	font-size: 14px;
	border: none;
	margin-bottom: 28px;
}

.loan-calculator .loan-cal-result {
	text-align: center;
	font-size: 18px;
	font-weight: 700;
	padding: 20px 15px;
	margin-bottom: 28px;
	line-height: 1;
	background: #fff;
}

.agent-widget {
	margin-bottom: 37px;
}

.agent-widget img {
	min-width: 100%;
}

.agent-widget h4 {
	margin-bottom: 10px;
}

.agent-widget h6 {
	color: #6a6a6a;
	margin-bottom: 25px;
}

.agent-widget p {
	margin-bottom: 30px;
}

.agent-widget .aw-text {
	padding: 35px 26px 45px;
	text-align: center;
	background: #f5f8fa;
}

.map-widget {
	position: relative;
	height: 407px;
}

.map-widget iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

/* ----------------
Contact Page
 ---------------------*/

.contact-section {
	padding: 100px 0;
}

.contact-section .section-title {
	margin-bottom: 50px;
}

.contact-text {
	padding-right: 95px;
}

.contact-info-box {
	text-align: center;
	padding-top: 60px;
}

.contact-info-box .ci-icon {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 107px;
	height: 107px;
	margin-bottom: 26px;
	border-radius: 50%;
	background: #000000;
}

.contact-info-box .ci-icon span {
	font-size: 36px;
	font-weight: 700;
	color: #fff;
}

.contact-info-box h4 {
	margin-bottom: 15px;
}

.contact-form {
	padding: 61px 33px;
	margin-top: 50px;
	background: #f5f8fa;
	text-align: center;
}

.contact-form input,
.contact-form textarea {
	width: 100%;
	height: 56px;
	padding: 0 23px;
	font-size: 14px;
	color: #3a3a3a;
	border: none;
	margin-bottom: 28px;
	background: #fff;
}

.contact-form textarea {
	height: 233px;
	padding: 20px 23px 10px;
	resize: none;
	margin-bottom: 35px;
}

.contact-form .site-btn {
	min-width: 335px;
}

/* ----------------
Responsive
 ---------------------*/

@media (min-width: 1200px) {
	.container {
		max-width: 1176px;
	}
}

/* Medium screen : 992px. */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.section-title h2,
	.about-text h2 {
		font-size: 65px;
	}
	.main-menu li a {
		margin-right: 20px;
	}
	.about-widget {
		margin-right: 15px;
	}
	.search-result-map {
		height: 600px;
	}
	.search-results {
		padding: 55px 30px 90px;
	}
	.offer-btn {
		min-width: 205px;
	}
	.contact-text {
		padding-right: 40px;
	}
	.blog-item.feature-blog .blog-text {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.blog-item.feature-blog h4 {
		margin-bottom: 15px;
	}
}

/* Tablet :768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.header-section {
		padding: 0 15px;
	}
	.main-menu {
		padding-right: 15px;
	}
	.main-menu li a {
		margin-right: 15px;
	}
	.header-right .register {
		min-width: 110px;
		margin-left: 10px;
	}
	.about-text {
		margin-top: 40px;
	}
	.hero-warp {
		padding: 25px 30px 29px;
	}
	.search-type label {
		margin-right: 5px;
	}
	.search-type .st-item input:checked+label {
		padding: 11px 15px;
	}
	.section-title h2,
	.about-text h2 {
		font-size: 55px;
	}
	.loan-form {
		display: block;
		text-align: center;
		padding: 0 50px;
	}
	.loan-form input {
		margin-bottom: 30px;
	}
	.about-widget {
		border-right: none;
	}
	.about-widget .aw-text {
		max-width: 100%;
	}
	.footer-widger h2 {
		padding-top: 0;
	}
	.page-top-section {
		height: auto;
		padding-bottom: 80px;
	}
	.sell-section {
		padding: 0 20px;
	}
	.search-result-map {
		height: 600px;
	}
	.sidebar {
		padding-top: 50px;
	}
	.contact-text {
		padding-right: 0;
	}
}

/* Large Mobile :480px. */

@media only screen and (max-width: 767px) {
	.header-section {
		padding: 0 15px;
	}
	.site-logo {
		padding: 24px 0;
	}
	.header-nav {
		display: none;
	}
	.slicknav_menu {
		padding: 0;
		display: block;
		background: transparent;
	}
	.slicknav_menu .header-right-warp {
		padding: 10px 0;
		padding-right: 10px;
		border-bottom: 1px solid #111;
		text-align: right;
	}
	.slicknav_menu .header-right .login {
		border-bottom: none;
	}
	.slicknav_menu .header-right .register {
		margin-left: 0;
	}
	.slicknav_menu .header-right a:hover {
		background: transparent;
		color: #fff;
	}
	.slicknav_btn {
		background: #616161;
		;
	}
	.slicknav_nav {
		background: #ffc107;
		margin-bottom: 30px;
	}
	.slicknav_nav a {
		margin: 0;
		padding: 10px 20px;
		/* border-bottom: 1px solid #111 */;
	}
	.slicknav_nav a:hover {
		color: #ff000a;
		border-radius: 0;
		background: #0b0e25;
	}
	.slicknav_nav .slicknav_row {
		padding: 10px 20px;
		margin: 0;
	}
	.slicknav_row a {
		border-bottom: none;
	}
	.slicknav_nav .slicknav_row:hover {
		border-radius: 0;
		background: #0b0e25;
	}
	.slicknav_parent.slicknav_open {
		background: #0b0e25;
		color: #ff000a;
	}
	.hero-section {
		height: auto;
		padding-top: 250px;
		padding-bottom: 100px;
	}
	.hero-warp {
		padding: 25px 20px 29px;
	}
	.about-text {
		margin-top: 40px;
	}
	.search-type label {
		margin-right: 5px;
	}
	.search-type .st-item input:checked+label {
		padding: 11px;
	}
	.search-input {
		display: block;
	}
	.search-input input,
	.search-input.si-v-2 input {
		width: 100%;
		padding: 0 20px;
		margin-bottom: 20px;
	}
	.section-title h2,
	.about-text h2 {
		font-size: 45px;
	}
	.loan-section {
		padding: 0 15px;
	}
	.loan-form {
		display: block;
		text-align: center;
		padding: 0 15px;
	}
	.loan-form input {
		margin-bottom: 30px;
	}
	.about-widget {
		border-right: none;
	}
	.about-widget .aw-text {
		max-width: 100%;
	}
	.footer-widger h2 {
		padding-top: 0;
	}
	.copyright {
		text-align: center;
	}
	.page-top-section {
		height: auto;
		padding-bottom: 80px;
	}
	.search-input.si-v-2 {
		margin-bottom: 0;
	}
	.search-input.si-v-2 .site-btn {
		margin: 0 25px 25px 0;
	}
	.search-results {
		padding: 55px 30px 90px;
	}
	.search-results .filter-btn li {
		margin-right: 10px;
	}
	.search-result-map {
		height: 500px;
	}
	.sidebar {
		padding-top: 50px;
	}
	.contact-text {
		padding-right: 0;
	}
	.sell-section {
		padding: 0 15px;
	}
}

/* Small Mobile :320px. */

@media only screen and (max-width: 479px) {
	.section-title h2,
	.about-text h2 {
		font-size: 38px;
	}
	.search-type label:after {
		display: none;
	}
	.section-title p {
		padding: 25px 0 10px;
	}
	.about-widget {
		margin-right: 0;
	}
	.site-btn.sb-big {
		padding: 21px 25px;
	}
	.search-results {
		padding: 55px 15px 90px;
	}
	.search-results .filter-btn li {
		margin-right: 0;
	}
	.property-info-bar {
		padding: 11px 15px 13px;
	}
	.loan-calculator {
		padding: 30px 15px 25px;
	}
	.contact-form {
		padding: 50px 20px;
	}
	.contact-form .site-btn {
		min-width: auto;
	}
}
.aligncontentnavbar{
	align-content: center;
}

img.bgblur {
	background: #3a3a3a;
	opacity: 0.5;
}

.rotate {

	transform: rotate(-45deg);
  
  
	/* Legacy vendor prefixes that you probably don't need... */
  
	/* Safari */
	-webkit-transform: rotate(-45deg);
  
	/* Firefox */
	-moz-transform: rotate(-45deg);
  
	/* IE */
	-ms-transform: rotate(-45deg);
  
	/* Opera */
	-o-transform: rotate(-45deg);
  
	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  
}

.larger {
	font-size: 200%;
}
.mtop{
	margin-top: 70px;

}
.bgcard{
	
	-webkit-box-shadow: 5px 36px 129px 17px rgb(145, 145, 145,0.5);
	-moz-box-shadow: 5px 36px 129px 17px rgba(145,145,145,0.5);
	box-shadow: 5px 36px 129px 17px rgba(145,145,145,0.5);
}
.mcard{
	margin-top: 20px;
}
li{
	list-style-type:none;
}
.search-btn {
	display: inline-block;
	border: 2px;
	/* padding: 6px; */
	/* min-width: 156px; */
	font-size: 16px;
	background: #ffc107;
	color: #fff;
	line-height: normal;
	cursor: pointer;
	text-transform: uppercase;
	text-align: center;
	margin-right: 50px;
	font-family: "Lato",sans-serif;
}

.sectionmargin {
	margin-top: 80px;
}

.celeste {
	color: #BDECFF;
}

.bordoceleste {
	border: 1px solid #BDECFF;
}

.bordogiallo {
	border: 2px solid #ffc107;
}

.bglang{
	background-color: transparent;
	border: none;
}
.giallo {
	color: #ffc107;
}

a.nav-link {
	font-family: "Lato", sans-serif;
}

hr.hrstyle{
	border-top: 1px solid #BDECFF;
}
.footerlogin{
	font-size: 30px;
	margin: auto;
}

.customfont {
	font-family: "Lato", sans-serif;
	font-style: italic;
	font-weight: 700;
}



.backgroungcarousel {
background-color: rgba(0, 0, 0, 0.7);

}
